Repository onedr0p/cluster-template, pull requests merged in 2023-09, with the labels that each got.

#939 fix(ansible/ipv6): Cluster and Service CIDRs didin't get populated for v6
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
Labels: area/ansible, area/bootstrap

#941 fix(ansible/net-valid): The external address fact.
  bootstrap/tasks/validation/net.yaml
Labels: area/bootstrap

#946 Adding permission to read repo on flux-diff workflow (mandatory for private repos)
  .github/workflows/flux-diff.yaml
Labels: area/github
