Repository onedr0p/cluster-template, pull requests merged in 2023-07, with the labels that each got.

#821 feat!: Drop Metallb in favor of Cilium L2Announcements
  .config.sample.env
  README.md
  ansible/inventory/group_vars/kubernetes/kubernetes.yml
  ansible/inventory/group_vars/master/kubernetes.yml
  ansible/playbooks/cluster-installation.yml
  ansible/playbooks/templates/cilium-l2.yaml.j2
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  configure
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/ks.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
  kubernetes/apps/networking/metallb/app/kustomization.yaml
  kubernetes/apps/networking/metallb/config/kustomization.yaml
  kubernetes/apps/networking/metallb/config/resources.yaml
  kubernetes/apps/networking/metallb/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/metallb.yaml
  tmpl/ansible/supplemental.yml
  tmpl/kubernetes/flux/cluster-settings.yaml
Labels: area/kubernetes, area/ansible, area/templates

#827 feat: manage the cilium l2 config with flux
  ansible/playbooks/templates/custom-cilium-l2.yaml.j2
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  template/templates/ansible/supplemental.yaml.j2
  template/templates/kubernetes/cluster-settings.yaml.j2
Labels: area/kubernetes, area/ansible

#829 feat: cluster rollout update playbook & use new `cmd` for taskfiles
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/ClusterTasks.yaml
  ansible/playbooks/cluster-kube-vip.yaml
  ansible/playbooks/cluster-rollout-update.yaml
Labels: area/ansible

#830 feat!: debian 12 to the moon
  README.md
  ansible/playbooks/cluster-prepare.yaml
  template/templates/ansible/supplemental.yaml.j2
Labels: area/ansible

#837 feat: add csi-driver-nfs addon
  template/tasks/addons/csi_driver_nfs.yaml
  template/tasks/addons/main.yaml
  template/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
  template/templates/addons/csi-driver-nfs/app/kustomization.yaml.j2
  template/templates/addons/csi-driver-nfs/app/storageclass.yaml.j2
  template/templates/addons/csi-driver-nfs/ks.yaml.j2
  template/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  template/templates/kubernetes/flux/repositories/helm/csi-driver-nfs.yaml.j2
  template/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  template/vars/addons.sample.yaml
Labels: area/templates

#855 IPv6 support :rocket:
  bootstrap/tasks/validation/net.yaml
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/vars/config.sample.yaml
Labels: area/bootstrap

#857 fix(kubernetes-templating): IPv6 support for Flux managed Cilium and …
  bootstrap/defaults/main.yaml
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
Labels: area/bootstrap

#863 refactor: install ansible with Python venv
  .envrc
  .github/renovate.json5
  .gitignore
  .taskfiles/AnsibleTasks.yaml
  .taskfiles/BrewTasks.yaml
  .taskfiles/ClusterTasks.yaml
  README.md
  Taskfile.yaml
  bootstrap/tasks/validation/age.yaml
  bootstrap/tasks/validation/cli.yaml
  bootstrap/templates/ansible/ansible.cfg.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/requirements.txt.j2
  requirements.txt
  requirements.yaml
Labels: area/github, area/bootstrap

#859 Update patching playbook to utilize kubernetes.core collection
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/bootstrap

#858 feat: add support for cluster user secrets and settings
  .taskfiles/ClusterTasks.yaml
  bootstrap/tasks/kubernetes/main.yaml
  bootstrap/templates/kubernetes/flux/apps.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets-user.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings-user.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/kustomization.yaml.j2
Labels: area/bootstrap

#877 fix: change labeler to match new directory structure
  .github/labeler.yaml
  .github/labels.yaml
Labels: area/github

#880 feat!: Separate out internal and external nginx controllers
  README.md
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/addons/csi-driver-nfs/app/helmrelease.yaml.j2
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/grafana/ks.yaml.j2
  bootstrap/templates/addons/hajimari/app/helmrelease.yaml.j2
  bootstrap/templates/addons/hajimari/ks.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/ks.yaml.j2
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
  bootstrap/templates/addons/kubernetes-dashboard/ks.yaml.j2
  bootstrap/templates/addons/system-upgrade-controller/ks.yaml.j2
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  bootstrap/templates/addons/weave-gitops/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/local-path-provisioner/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/reloader/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/configs/config.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/cloudflared/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/echo-server/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/external-dns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/ingress-nginx/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/k8s-gateway/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/certificates/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/certificates/production.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/certificates/staging.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/external/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/ks.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/kubernetes, area/addons, area/bootstrap
