Repository onedr0p/cluster-template, pull requests merged in 2023-12, with the labels that each got.

#1064 [bootstrap] fix: remove conflicting condition for immutable flag and state:absent
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/ansible, area/bootstrap

#1065 [bootstrap] feat: target cluster ansible plays only to kubernetes in case other hosts are used
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-reboot.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible, area/bootstrap

#1074 [bootstrap] fix: fixed required variable validation assertion
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

#1076 Revert "[bootstrap] fix: fixed required variable validation assertion"
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

#1077 [bootstrap] fix: Fixed required variable validation assertions
  bootstrap/tasks/validation/vars.yaml
Labels: area/bootstrap

#1108 Install jq in task brew:deps
  .taskfiles/BrewTasks.yaml
Labels: area/taskfile
