Repository onedr0p/cluster-template, pull requests merged in 2023-11, with the labels that each got.

#1009 Fix echo-server template ingress className
  bootstrap/templates/kubernetes/apps/networking/echo-server/app/helmrelease.yaml.j2
Labels: area/kubernetes, area/bootstrap

#1035 Update cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible, area/bootstrap

#1041 Fixed: topology for ingress-nginx instances due to labels not matching
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
Labels: area/kubernetes, area/bootstrap

#1043 System Upgrade Controller install failed due to missing /etc/pki dir
  bootstrap/templates/addons/system-upgrade-controller/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap
