Repository onedr0p/cluster-template, pull requests merged in 2023-08, with the labels that each got.

#883 update ingress classNames in HelmReleases
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/kubernetes, area/addons, area/bootstrap

#884 fix(cloudflared): fixed origin server name
  bootstrap/templates/kubernetes/apps/networking/cloudflared/app/configs/config.yaml.j2
Labels: area/kubernetes, area/bootstrap

#876 feat: addon rss forwarder
  bootstrap/tasks/addons/discord_template_notifier.yaml
  bootstrap/tasks/addons/main.yaml
  bootstrap/templates/addons/discord-template-notifier/app/helmrelease.yaml.j2
  bootstrap/templates/addons/discord-template-notifier/app/kustomization.yaml.j2
  bootstrap/templates/addons/discord-template-notifier/app/secret.sops.yaml.j2
  bootstrap/templates/addons/discord-template-notifier/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/default/kustomization.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/kubernetes, area/addons, area/bootstrap

#910 Rename internal/external nginx to ingress
  README.md
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/kubernetes/apps/networking/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/networking/nginx/internal/helmrelease.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/kubernetes, area/bootstrap

#911 fix: kubernetes-dashboard version 7.x.x was yanked from the helm repo
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

#919 feat(ansible): add branch reference as variable in gitrepository
  bootstrap/tasks/validation/github.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/kubernetes, area/bootstrap
