Repository onedr0p/cluster-template, pull requests merged in 2024-10, with the labels that each got.

#1586 Various Improvements
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/sysctl.yaml.j2
Labels: area/bootstrap

#1594 Fix 'xargs: command line too long' in SOPS encryption task
  .taskfiles/Sops/Taskfile.yaml
Labels: area/taskfile

#1601 chore: update taskfiles and direnv
  .envrc
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

#1603 feat: change talos upgrade task to support version instead of image
  .taskfiles/Talos/Taskfile.yaml
  README.md
Labels: area/taskfile

#1607 feat(yaskfile): updates and reorganizations
  .github/tests/config-talos.yaml
  .github/workflows/e2e.yaml
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/scripts/validation.py
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1610 fix(yaskfile): lower case .taskfiles dirs
  .github/workflows/e2e.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
Labels: area/github, area/taskfile

#1615 fix: improve taskfiles and e2e test
  .github/workflows/e2e.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  Taskfile.yaml
Labels: area/github, area/taskfile

#1616 chore: add minijinja-cli-bin to Archfile
  .taskfiles/workstation/Archfile
Labels: area/taskfile

#1618 feat(bootstrap): static ips and default ntp/dns servers
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/config/cilium-l3.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/dns.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/ntp.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  config.sample.yaml
Labels: area/bootstrap
