Repository onedr0p/cluster-template, pull requests merged in 2024-05, with the labels that each got.

#1459 fix(task): siderolabs brew tap
  .taskfiles/Workstation/Brewfile
Labels: area/taskfile

#1466 chore: update kube-vip
  bootstrap/templates/partials/kube-vip-ds.partial.yaml.j2
Labels: area/bootstrap

#1485 fix helmfile for prometheus-operator-crds dependsOn and Taskfile talos:nuke error
  .taskfiles/Talos/Taskfile.yaml
  bootstrap/templates/kubernetes/bootstrap/talos/helmfile.yaml.j2
Labels: area/kubernetes, area/bootstrap, area/taskfile

#1486 Fix helmvalue path
  bootstrap/templates/kubernetes/bootstrap/talos/helmfile.yaml.j2
Labels: area/bootstrap

#1488 chore: remove json schemas
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/ks.yaml.j2
Labels: area/bootstrap

#1489 update cilium value to replace CIDR value from config.yaml
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
Labels: area/bootstrap

#1491 fix(bootstrap): Add missing coredns repo
  bootstrap/templates/kubernetes/bootstrap/talos/helmfile.yaml.j2
Labels: area/bootstrap

#1495 Allow extraManifests to be specified
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1496 Allow extensionServices to be specified
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1497 Fix extensionServices configFile content multi-line indentation.
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/bootstrap

#1498 Fix extensionServices configFile content multi-line indentation.
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/bootstrap
