Repository onedr0p/cluster-template, pull requests merged in 2024-12, with the labels that each got.

#1656 feat!: use mise for managing the dev env
  .devcontainer/ci/Dockerfile
  .devcontainer/ci/devcontainer.json
  .devcontainer/ci/features/devcontainer-feature.json
  .devcontainer/ci/features/install.sh
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .envrc
  .github/workflows/devcontainer.yaml
  .github/workflows/e2e.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
  mise.toml
Labels: area/github, area/taskfile

#1662 fix: update talos service discovery
  bootstrap/templates/kubernetes/bootstrap/talos/patches/controller/cluster.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/cluster-discovery.yaml.j2
Labels: area/bootstrap

#1665 fix(task-kubernetes:apply-ks): --dry-run was appended to the path, ma…
  .taskfiles/kubernetes/Taskfile.yaml
Labels: area/taskfile

#1668 feat(mise): use pip instead of uv
  .github/workflows/e2e.yaml
  README.md
  mise.toml
Labels: area/github
