Repository onedr0p/cluster-template, pull requests merged in 2024-03, with the labels that each got.

#1354 Add optional user tasks to Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

#1356 Add the option for assigning a specific SSH key to a node.
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1357 feat!(kube-vip): Enable flux taking over kube-vip post-deployment.
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-kube-vip-ds.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-kube-vip-rbac.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kube-vip/.mjfilter.py
  bootstrap/templates/kubernetes/apps/kube-system/kube-vip/app/daemonset.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kube-vip/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kube-vip/app/rbac.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kube-vip/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
Labels: area/bootstrap

#1374 Update echo-server app-template ingress' v3 service identifier
  bootstrap/templates/kubernetes/apps/network/echo-server/app/helmrelease.yaml.j2
Labels: area/bootstrap

#1377 Add kernel modules required by cilium
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
Labels: area/bootstrap

#1380 fix: Update deprecated allowSchedulingOnMasters field to allowSchedulingOnControlPlanes
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/bootstrap

#1381 Fix cilium to use k3s paths for binPath and confPath
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
Labels: area/bootstrap

#1384 Fix (renovate): Invalid escape character in string.
  .github/renovate.json5
Labels: area/github

#1378 feat: Support remotely-managed cloudflare tunnels
  bootstrap/scripts/validation.py
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/secret.sops.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1388 Revert "Fix cilium to use k3s paths for binPath and confPath"
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
Labels: area/bootstrap

#1389 fix(metrics-server): Remove --kubelet-insecure-tls
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
Labels: area/bootstrap

#1395 Disable node.ssh_user check
  bootstrap/scripts/validation.py
Labels: area/bootstrap
