Repository onedr0p/cluster-template, pull requests merged in 2024-02, with the labels that each got.

#1282 feat: Talos network vlan tagging
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1285 fix(cloudflare): Update ingress-nginx-external-controller service name
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/configs/config.yaml.j2
Labels: area/bootstrap

#1284 feat: upgrade k3s to 1.29.1 and enable the spegel embedded registry
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/k3s/ks.yaml.j2
Labels: area/bootstrap

#1288 feat: distribution is a dict and nodes and cluster are top level
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-talos.yaml
  README.md
  bootstrap/scripts/plugin.py
  bootstrap/scripts/validation.py
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/ansible/.mjfilter.py
  bootstrap/templates/ansible/inventory/.mjfilter.py
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/.mjfilter.py
  bootstrap/templates/ansible/inventory/group_vars/master/.mjfilter.py
  bootstrap/templates/ansible/inventory/group_vars/worker/.mjfilter.py
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/tasks/.mjfilter.py
  bootstrap/templates/ansible/playbooks/templates/.mjfilter.py
  bootstrap/templates/ansible/requirements.yaml.j2
  bootstrap/templates/kubernetes/apps/.mjfilter.py
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/.mjfilter.py
  bootstrap/templates/kubernetes/apps/flux-system/.mjfilter.py
  bootstrap/templates/kubernetes/apps/flux-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/webhooks/.mjfilter.py
  bootstrap/templates/kubernetes/apps/kube-system/kubelet-csr-approver/.mjfilter.py
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/.mjfilter.py
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/app/plan.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/k3s/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/app/plan.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/.mjfilter.py
  bootstrap/templates/kubernetes/flux/.mjfilter.py
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/postfinance.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/xenitab.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  bootstrap/templates/kubernetes/k0s/.mjfilter.py
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-system.sh.j2
  bootstrap/templates/kubernetes/talos/.mjfilter.py
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/templates/partials/kubelet-csr-approver-values.partial.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap

#1289 fix(talos): Mount openebs-hostpath in kubelet
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
Labels: area/bootstrap

#1291 feat(k0s): unsupport it
  .devcontainer/ci/features/install.sh
  .envrc
  .github/labels.yaml
  .github/renovate.json5
  .github/tests/config-k0s.yaml
  .github/workflows/e2e.yaml
  .taskfiles/K0s/Taskfile.yaml
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Workstation/Archfile
  .taskfiles/Workstation/Brewfile
  .taskfiles/Workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/scripts/validation.py
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/ansible/.mjfilter.py
  bootstrap/templates/ansible/inventory/.mjfilter.py
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/.mjfilter.py
  bootstrap/templates/ansible/inventory/group_vars/master/.mjfilter.py
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/tasks/.mjfilter.py
  bootstrap/templates/ansible/playbooks/templates/.mjfilter.py
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/requirements.txt.j2
  bootstrap/templates/ansible/requirements.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/.mjfilter.py
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/app/plan.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/k0s/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/xenitab.yaml.j2
  bootstrap/templates/kubernetes/k0s/.mjfilter.py
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-kube-vip.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-system.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/reset-cilium.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/reset-system.sh.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1296 feat(talos): Add cilium bgpControlPlane support and CNI security settings
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/cilium-bgp.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1297 Add note about device selection in Cilium Helm Release
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
Labels: area/bootstrap

#1298 Fix Talos SUC ServiceAccount
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
Labels: area/bootstrap

#1299 fix(bootstrap): patch flux resource names to match oci manifests
  bootstrap/templates/kubernetes/bootstrap/kustomization.yaml.j2
Labels: area/bootstrap

#1309 Talos: remove deprecated System Extentions and move to schematicID
  .github/tests/config-talos.yaml
  README.md
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/app/plan.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap

#1310 Adding kernel argument to disable predictable NIC naming. Fixes VIP
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
Labels: area/bootstrap

#1314 fix(cilium): Correct L2 kustomization exclusion logic
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
Labels: area/bootstrap

#1315 feat(talos): Add secureboot & tpm-based disk encryption support
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1316 feat(talos): Add option to specify other gateway
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/cilium-bgp.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1319 Allow users to optionally override templates
  bootstrap/overrides/readme.partial.yaml.j2
  makejinja.toml
Labels: area/bootstrap

#1320 feat(talos): Allow users to include talhelper patches
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1334 fix(cilium): disable BPF masquerade
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
Labels: area/bootstrap

#1337 fix(talos): remove system-upgrade-controller
  README.md
  bootstrap/templates/kubernetes/apps/system-upgrade/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/.mjfilter.py
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/app/plan.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/talos/ks.yaml.j2
Labels: area/bootstrap

#1338 Fix cluster-kube-vip playbook
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
Labels: area/bootstrap
