Repository onedr0p/cluster-template, pull requests merged in 2024-01, with the labels that each got.

#1113 Change back to output file
  .github/workflows/lychee.yaml
Labels: area/github

#1127 Replace Hajimari with Homepage
  bootstrap/tasks/addons/homepage.yaml
  bootstrap/tasks/addons/main.yaml
  bootstrap/templates/addons/grafana/app/helmrelease.yaml.j2
  bootstrap/templates/addons/hajimari/app/helmrelease.yaml.j2
  bootstrap/templates/addons/homepage/app/configmap.yaml.j2
  bootstrap/templates/addons/homepage/app/helmrelease.yaml.j2
  bootstrap/templates/addons/homepage/app/kustomization.yaml.j2
  bootstrap/templates/addons/homepage/app/secret.sops.yaml.j2
  bootstrap/templates/addons/homepage/ks.yaml.j2
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
  bootstrap/templates/addons/kubernetes-dashboard/app/helmrelease.yaml.j2
  bootstrap/templates/addons/weave-gitops/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/default/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmvalues.yaml.j2
  bootstrap/templates/kubernetes/apps/network/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/hajimari.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/kubernetes, area/addons, area/bootstrap

#1140 fix: Bump Homepage Memory Req & Limit
  bootstrap/templates/addons/homepage/app/helmrelease.yaml.j2
Labels: area/addons, area/bootstrap

#1143 feat: attempt to add a e2e workflow
  .github/tests/addons.yaml
  .github/tests/config.yaml
  .github/workflows/e2e.yaml
  .taskfiles/BrewTasks.yaml
  .taskfiles/RepoTasks.yaml
  .taskfiles/SopsTasks.yaml
  README.md
  Taskfile.yaml
  bootstrap/configure.yaml
  bootstrap/tasks/validation/cli.yaml
  bootstrap/tasks/validation/cloudflare.yaml
  bootstrap/tasks/validation/net.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1149 fix: update cluster-rollout-update to be k0s compatible
  bootstrap/templates/ansible/shared/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/shared/playbooks/cluster-reboot.yaml.j2
  bootstrap/templates/ansible/shared/playbooks/cluster-rollout-update.yaml.j2
Labels: area/ansible, area/bootstrap

#1150 feat: update e2e test to account for testing ipv6
  .github/tests/config-ipv4.yaml
  .github/tests/config-ipv6.yaml
  .github/workflows/e2e.yaml
Labels: area/github

#1151 fix: only remove duplicate metrics in kps if distro is k3s
  bootstrap/templates/addons/kube-prometheus-stack/app/helmvalues.yaml.j2
Labels: area/addons, area/bootstrap

#1153 I found minor spelling errors
  bootstrap/templates/ansible/k3s/playbooks/tasks/cruft.yaml.j2
Labels: area/ansible, area/bootstrap

#1152 chore: add ci tests for k0s
  .envrc
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/workflows/e2e.yaml
  .taskfiles/K0s/Taskfile.yaml
  bootstrap/tasks/addons/coredns.yaml
  bootstrap/tasks/addons/csi_driver_nfs.yaml
  bootstrap/tasks/addons/discord_template_notifier.yaml
  bootstrap/tasks/addons/grafana.yaml
  bootstrap/tasks/addons/homepage.yaml
  bootstrap/tasks/addons/kube_prometheus_stack.yaml
  bootstrap/tasks/addons/kubernetes_dashboard.yaml
  bootstrap/tasks/addons/system_upgrade_controller.yaml
  bootstrap/tasks/addons/volsync.yaml
  bootstrap/tasks/addons/weave_gitops.yaml
  bootstrap/tasks/ansible/main.yaml
  bootstrap/tasks/kubernetes/main.yaml
  bootstrap/templates/kubernetes/apps/tools/kustomization.yaml.j2
Labels: area/kubernetes, area/github, area/ansible, area/addons, area/bootstrap, area/taskfile

#1160 fix: update Ansible taskfile
  .taskfiles/Ansible/Taskfile.yaml
Labels: area/taskfile

#1161 fix: update makeninja - rename Archfile - check for k0sctl
  .taskfiles/Workstation/Archfile
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
  bootstrap/tasks/validation/cli.yaml
  requirements.txt
Labels: area/bootstrap, area/taskfile

#1168 feat: change jinja variable start/end delimiters to avoid conflicts with go templating
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/supplemental.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/k0s-config.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/default/discord-template-notifier/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/default/homepage/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/addons/webhooks/github/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/external-dns/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/observability/grafana/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-nfs/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/openebs/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  makejinja.toml
Labels: area/bootstrap

#1169 fix: kube-vip was not rendering when enabled
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/supplemental.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
  bootstrap/templates/k0s-config.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/bootstrap

#1172 feat: add ansible lint, update taskfiles, and makejinja to not strip trailing newlines
  .github/tests/config-k0s.yaml
  .github/workflows/e2e.yaml
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/K0s/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Kubernetes/kubeconform.sh
  .taskfiles/Repo/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
  bootstrap/templates/ansible/.ansible-lint.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
Labels: area/github, area/bootstrap, area/taskfile

#1176 feat: add python version check
  .github/workflows/e2e.yaml
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/K0s/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
  bootstrap/scripts/py_version_check.py
Labels: area/github, area/bootstrap, area/taskfile

#1178 feat: add spegel support for k0s
  .github/renovate.json5
  .github/tests/addons.yaml
  .taskfiles/K0s/Taskfile.yaml
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/xenitab.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0s-config.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/spegel.toml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/unprivileged-ports.toml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1179 feat: enable etcd monitoring for k0s
  bootstrap/tasks/validation/github.yaml
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0s-config.yaml.j2
Labels: area/bootstrap

#1180 feat: add partial support, change k0s config filename, always use NLLB for k0s
  .taskfiles/K0s/Taskfile.yaml
  Taskfile.yaml
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/partials/cilium-values-full.yaml.partial
  bootstrap/templates/partials/cilium-values-init.yaml.partial
  bootstrap/vars/config.sample.yaml
  makejinja.toml
Labels: area/bootstrap, area/taskfile

#1183 feat: k0s add reset hooks for cleaning up cilium
  .taskfiles/K0s/Taskfile.yaml
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
Labels: area/bootstrap, area/taskfile

#1191 fix: ansible dir should only exist for k3s and k0s
  bootstrap/templates/ansible/.ansible-lint.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/supplemental.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-reboot.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  makejinja.toml
Labels: area/bootstrap

#1193 don't copy files to controller only role
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
Labels: area/bootstrap

#1197 fix: keep included k3s coredns
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/tasks/coredns.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
Labels: area/bootstrap

#1199 feat: add custom dns server support
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-k3s-no-kube-vip.yaml
  .github/tests/config-talos.yaml
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/vars/addons.sample.yaml
  bootstrap/vars/config.sample.yaml
Labels: area/github, area/bootstrap

#1201 fix: use requires in taskfiles when needed
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfile

#1203 fix: add talos docs to root readme
  .taskfiles/K0s/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  README.md
  bootstrap/templates/kubernetes/talos/README.md.j2
Labels: area/bootstrap, area/taskfile

#1205 feat: k0s remove isolated controllers support and ansible prepare playbook
  README.md
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/spegel.toml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/unprivileged-ports.toml.j2
  bootstrap/templates/kubernetes/k0s/resources/hooks/apply-system.sh.j2
  bootstrap/templates/kubernetes/k0s/resources/hooks/reset-cilium.sh.j2
  bootstrap/templates/kubernetes/k0s/resources/hooks/reset-system.sh.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/bootstrap

#1204 feat: added longhorn addon
  .github/tests/addons.yaml
  bootstrap/templates/kubernetes/apps/longhorn-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/longhorn-system/longhorn/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/longhorn-system/longhorn/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/longhorn-system/longhorn/app/snapshot.yaml.j2
  bootstrap/templates/kubernetes/apps/longhorn-system/longhorn/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/longhorn-system/namespace.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/volsync/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/volsync/snapshot-controller/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/longhorn.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: type/minor, area/github, area/bootstrap

#1213 feat: added csi_driver_smb addon
  .github/tests/addons.yaml
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/csi-driver-smb.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/github, area/bootstrap

#1215 feat: add pre-defined secrets to csi-driver-smb addon
  .github/tests/addons.yaml
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/github, area/bootstrap

#1214 feat: migrate to python for data validation
  .editorconfig
  .github/renovate.json5
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-k3s-no-kube-vip.yaml
  .github/tests/config-talos.yaml
  .github/workflows/e2e.yaml
  .taskfiles/Ansible/Taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/scripts/loader.py
  bootstrap/scripts/py_version_check.py
  bootstrap/scripts/validation.py
  bootstrap/tasks/validation/age.yaml
  bootstrap/tasks/validation/cli.yaml
  bootstrap/tasks/validation/cloudflare.yaml
  bootstrap/tasks/validation/github.yaml
  bootstrap/tasks/validation/main.yaml
  bootstrap/tasks/validation/net.yaml
  bootstrap/tasks/validation/vars.yaml
  bootstrap/templates/ansible/requirements.txt.j2
  bootstrap/templates/ansible/requirements.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/spegel.toml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/validate.yaml
  makejinja.toml
  requirements.txt
Labels: area/github, area/bootstrap, area/taskfile

#1217 feat: move various config options to advanced flags
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-k3s-no-kube-vip.yaml
  .github/tests/config-talos.yaml
  bootstrap/scripts/loader.py
  bootstrap/scripts/validation.py
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/openebs/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/hooks/reset-system.sh.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/vars/config.sample.yaml
  requirements.txt
Labels: area/github, area/bootstrap

#1218 feat: more changes to templating
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-k3s-no-kube-vip.yaml
  .github/tests/config-talos.yaml
  .github/workflows/e2e.yaml
  bootstrap/scripts/loader.py
  bootstrap/scripts/validation.py
  bootstrap/templates/ansible/.ansible-lint.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/supplemental.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/network/nginx/certificates/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/network/nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/hooks/apply-system.sh.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/github, area/bootstrap

#1219 fix: few small tweaks to validation
  bootstrap/scripts/validation.py
Labels: area/bootstrap

#1220 fix: updated csi-drivers for k0s and simplified smb
  .github/tests/addons.yaml
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-nfs/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/kustomization.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/github, area/bootstrap

#1221 feat: update makejinja to 2.5.0
  Taskfile.yaml
  bootstrap/scripts/plugin.py
  makejinja.toml
  requirements.txt
Labels: area/bootstrap, area/taskfile

#1225 feat: add spegel to core components
  .github/tests/addons.yaml
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/default.toml.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/unprivileged-ports.toml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/github, area/bootstrap

#1229 feat: Do not rely on k0s file uploads - instead use curl
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-talos.yaml
  .taskfiles/Ansible/Taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/scripts/plugin.py
  bootstrap/scripts/validation.py
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/resources/apply-system.sh.j2
  bootstrap/templates/kubernetes/k0s/resources/containerd/default.toml.j2
  bootstrap/templates/kubernetes/k0s/resources/reset-cilium.sh.j2
  bootstrap/templates/kubernetes/k0s/resources/reset-system.sh.j2
  bootstrap/vars/config.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1235 chore: improvements to e2e workflow
  .envrc
  .github/workflows/e2e.yaml
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
Labels: area/github, area/taskfile

#1240 feat: add devcontainer container on ghcr
  .devcontainer/devcontainer.build.json
  .devcontainer/devcontainer.json
  .github/workflows/e2e.yaml
  .github/workflows/publish-devcontainer.yaml
Labels: area/github

#1242 feat: more improvements to devcontainer and arm64
  .devcontainer/ci/Dockerfile
  .devcontainer/ci/devcontainer.json
  .devcontainer/ci/features/devcontainer-feature.json
  .devcontainer/ci/features/install.sh
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yaml
  .github/workflows/e2e.yaml
  README.md
Labels: area/github

#1243 Update addons.sample.yaml with correct namespace for kubernetes-dashboard
  bootstrap/vars/addons.sample.yaml
Labels: area/bootstrap

#1245 fix: cluster user settings and secrets should be optional
  bootstrap/templates/kubernetes/apps/storage/csi-driver-smb/app/storageclass.yaml.j2
  bootstrap/templates/kubernetes/flux/apps.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets-user.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings-user.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/kustomization.yaml.j2
Labels: area/bootstrap

#1246 feat: implement SUC for talos
  bootstrap/templates/kubernetes/apps/tools/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/.mjfilter.py
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/app/rbac.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/plans/agent.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/plans/k3s.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/plans/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/plans/server.yaml.j2
  bootstrap/templates/kubernetes/apps/tools/system-upgrade-controller/plans/talos.yaml.j2
  bootstrap/vars/addons.sample.yaml
Labels: area/bootstrap

#1253 fix: address talos comments
  .envrc
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-talos.yaml
  .taskfiles/Talos/Taskfile.yaml
  README.md
  bootstrap/scripts/validation.py
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1261 fix: remove local hostpath and cilium lb vars and update k0s
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-kube-vip.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-system.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/reset-cilium.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/reset-system.sh.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/vars/config.sample.yaml
Labels: area/bootstrap

#1264 fix: update taskfiles and validation logic
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/K0s/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
  bootstrap/scripts/validation.py
Labels: area/bootstrap, area/taskfile

#1266 fixes: lychee pipeline workflow
  .github/workflows/lychee.yaml
Labels: area/github

#1269 feat: update jinja delimiters back to default
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/kubernetes/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/master/main.yaml.j2
  bootstrap/templates/ansible/inventory/group_vars/worker/main.yaml.j2
  bootstrap/templates/ansible/inventory/hosts.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-installation.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-kube-vip.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-nuke.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  bootstrap/templates/ansible/playbooks/cluster-rollout-update.yaml.j2
  bootstrap/templates/ansible/playbooks/tasks/cruft.yaml.j2
  bootstrap/templates/ansible/playbooks/tasks/kubeconfig.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-ds.yaml.j2
  bootstrap/templates/ansible/playbooks/templates/kube-vip-rbac.yaml.j2
  bootstrap/templates/ansible/requirements.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/ks.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/webhooks/app/github/ingress.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/webhooks/app/github/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/flux-system/webhooks/app/github/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/external-dns/app/secret.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/certificates/kustomization.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/external-dns.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/ingress-nginx.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/k8s-gateway.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/kustomization.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/postfinance.yaml.j2
  bootstrap/templates/kubernetes/flux/repositories/helm/xenitab.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-secrets.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  bootstrap/templates/kubernetes/k0s/k0sctl.yaml.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-kube-vip.sh.j2
  bootstrap/templates/kubernetes/k0s/scripts/apply-system.sh.j2
  bootstrap/templates/kubernetes/talos/cilium/values.yaml.j2
  bootstrap/templates/kubernetes/talos/kubelet-csr-approver/kustomization.yaml.j2
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
  bootstrap/templates/partials/kube-vip-ds.partial.yaml.j2
  bootstrap/templates/partials/kubelet-csr-approver-values.partial.yaml.j2
  makejinja.toml
Labels: area/bootstrap

#1270 feat: rename repo to cluster-template
  .devcontainer/ci/features/devcontainer-feature.json
  .devcontainer/devcontainer.json
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-talos.yaml
  README.md
  bootstrap/templates/ansible/playbooks/cluster-prepare.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap

#1271 feat: add first class support for private github repos
  .github/tests/config-k0s.yaml
  .github/tests/config-k3s-ipv4.yaml
  .github/tests/config-k3s-ipv6.yaml
  .github/tests/config-talos.yaml
  .taskfiles/Flux/Taskfile.yaml
  README.md
  bootstrap/templates/kubernetes/bootstrap/github-deploy-key.sops.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap, area/taskfile

#1273 feat: Support talhelper NodeConfig additions
  bootstrap/templates/kubernetes/talos/talconfig.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

#1275 fix: talos customization multiline string and ansible raw/endraw
  .github/tests/config-talos.yaml
  .github/workflows/devcontainer.yaml
  .github/workflows/e2e.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lychee.yaml
  .github/workflows/release.yaml
  README.md
  bootstrap/templates/ansible/playbooks/tasks/version-check.yaml.j2
  config.sample.yaml
Labels: area/github, area/bootstrap

#1281 feat: enabled monitors everywhere and standardize resources a bit
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/cloudflared/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/echo-server/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/external-dns/app/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml.j2
  bootstrap/templates/partials/cilium-values-full.partial.yaml.j2
  bootstrap/templates/partials/cilium-values-init.partial.yaml.j2
Labels: area/bootstrap
