Repository onedr0p/cluster-template, pull requests merged in 2025-01, with the labels that each got.

#1672 chore: update workflows and clean task
  .github/workflows/e2e.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/release.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
Labels: area/github, area/taskfile

#1679 fix(template): remove options for extra manifests and extension config
  config.sample.yaml
  templates/config/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/templates

#1681 feat: update config options and taskfiles
  .github/tests/config-talos.yaml
  .taskfiles/talos/Taskfile.yaml
  README.md
  config.sample.yaml
  templates/config/kubernetes/apps/flux-system/webhooks/app/github/secret.sops.yaml.j2
  templates/config/kubernetes/flux/config/cluster.yaml.j2
Labels: area/github, area/taskfile, area/templates

#1682 correct github private key reference in cluster.yaml.j2
  templates/config/kubernetes/flux/config/cluster.yaml.j2
Labels: area/templates

#1685 fix ssl cert for ingresses
  templates/config/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
Labels: area/templates

#1689 Added more schemas
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/clusterissuers.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  templates/config/kubernetes/apps/cert-manager/namespace.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github/webhooks/secret.sops.yaml.j2
  templates/config/kubernetes/apps/flux-system/namespace.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/bgppeeringpolicy.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/l2announcementpolicy.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/loadbalancerippool.yaml.j2
  templates/config/kubernetes/apps/kube-system/namespace.yaml.j2
  templates/config/kubernetes/apps/network/cloudflared/app/dnsendpoint.yaml.j2
  templates/config/kubernetes/apps/network/cloudflared/app/secret.sops.yaml.j2
  templates/config/kubernetes/apps/network/external-dns/app/secret.sops.yaml.j2
  templates/config/kubernetes/apps/network/ingress-nginx/certificates/production.yaml.j2
  templates/config/kubernetes/apps/network/ingress-nginx/certificates/staging.yaml.j2
  templates/config/kubernetes/apps/network/namespace.yaml.j2
  templates/config/kubernetes/apps/observability/namespace.yaml.j2
  templates/config/kubernetes/apps/openebs-system/namespace.yaml.j2
  templates/config/kubernetes/bootstrap/flux/github-deploy-key.sops.yaml.j2
  templates/config/kubernetes/flux/settings/cluster-secrets.sops.yaml.j2
  templates/config/kubernetes/flux/settings/cluster-settings.yaml.j2
Labels: area/templates

#1694 chore: update mise workflow
  .github/workflows/mise.yaml
Labels: area/github

#1696 fix(bgp): reduce options and clear up confusion
  config.sample.yaml
  templates/config/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/bgppeeringpolicy.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/l2.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/l3.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/pool.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
Labels: area/templates

#1708 Talos secureboot conditional validation issue
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

#1710 Node secureboot and disk encrypt
  config.sample.yaml
  templates/config/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/templates

#1711 fix: add talhelper validate to task configure
  .github/tests/config-talos.yaml
  .github/workflows/e2e.yaml
  .mise.toml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
  README.md
  Taskfile.yaml
  config.sample.yaml
  templates/config/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/github, area/taskfile, area/templates

#1719 fix: remove circular dependency
  templates/config/kubernetes/apps/network/external/cloudflared/helmrelease.yaml.j2
Labels: area/templates

#1723 fix: update talhelper config
  templates/config/kubernetes/bootstrap/talos/talconfig.yaml.j2
Labels: area/templates

#1728 Execute talhelper commands within the talos directory
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

#1729 chore: update taskfiles
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

#1736 feat: add cert-manager to helmfile
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
  README.md
  Taskfile.yaml
  templates/config/kubernetes/apps/cert-manager/cert-manager/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  templates/config/kubernetes/bootstrap/helmfile.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/coredns.yaml.j2
Labels: area/taskfile, area/templates

#1738 fix: remove email from config and cert manager
  .github/tests/config-talos.yaml
  config.sample.yaml
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/clusterissuers.yaml.j2
  templates/config/kubernetes/flux/meta/settings/cluster-secrets.sops.yaml.j2
Labels: area/github, area/templates
