Repository onedr0p/cluster-template, pull requests merged in 2025-03, with the labels that each got.

#1802 Remove .github/release.yaml too as part of tidy action
  .taskfiles/template/Taskfile.yaml
Labels: area/taskfile

#1804 fix: rename a few cloudflare vars in cluster.yaml
  .github/tests/private.yaml
  .github/tests/public.yaml
  .taskfiles/template/resources/cluster.schema.cue
  README.md
  cluster.sample.yaml
  templates/config/kubernetes/apps/network/external/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/k8s-gateway/helmrelease.yaml.j2
Labels: area/github, area/taskfile, area/templates, area/docs

#1808 Fix: Allow secureboot and encrypt_disk fields to be optional
  .taskfiles/template/resources/nodes.schema.cue
Labels: area/taskfile

#1809 fix: set defaults for sb and encrypt disk
  .github/tests/nodes.yaml
  templates/config/talos/talconfig.yaml.j2
Labels: area/github, area/templates

#1810 fix: make hsts-max-age well formed
  templates/config/kubernetes/apps/network/external/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/ingress-nginx/helmrelease.yaml.j2
Labels: area/templates

#1811 feat: update helmfile and introduce ocirepositories
  templates/config/bootstrap/helmfile.yaml.j2
  templates/config/kubernetes/apps/default/echo-server/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/helmrelease.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/bjw-s.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/controlplaneio.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/coredns.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/kustomization.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/spegel.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/stakater.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/oci/app-template.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/oci/kustomization.yaml.j2
Labels: area/templates

#1812 feat: only deploy spegel if more than one node
  templates/config/bootstrap/helmfile.yaml.j2
  templates/config/kubernetes/apps/kube-system/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helm/values.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  templates/scripts/plugin.py
Labels: area/templates

#1814 fix: update talhelper config files
  templates/config/talos/talconfig.yaml.j2
  templates/config/talos/talenv.yaml.j2
Labels: area/templates

#1815 chore: namespace is not needed on these resources
  README.md
  templates/config/kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/app/helmrepository.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/app/helmrepository.yaml.j2
Labels: area/templates, area/docs

#1818 chore: update readme
  .mise.toml
  README.md
Labels: area/docs

#1819 feat: only deploy production certificate
  .github/tests/private.yaml
  .github/tests/public.yaml
  .taskfiles/template/resources/cluster.schema.cue
  README.md
  cluster.sample.yaml
  templates/config/kubernetes/apps/cert-manager/cert-manager/app/clusterissuer.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/tls/certificate.yaml.j2
  templates/config/kubernetes/apps/default/echo/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/default/echo/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/default/echo/ks.yaml.j2
  templates/config/kubernetes/apps/default/kustomization.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/configs/config.yaml.j2
  templates/config/kubernetes/apps/network/external/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/ingress-nginx/helmrelease.yaml.j2
  templates/scripts/plugin.py
Labels: area/github, area/taskfile, area/templates, area/docs

#1821 Make bash and gsed brew availability check Intel Mac compatible
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
Labels: area/taskfile

#1823 chore: update cloudflared
  templates/config/kubernetes/apps/network/external/cloudflared/configs/config.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/helmrelease.yaml.j2
Labels: area/templates

#1824 feat: improve makejinja functions and cloudflared deployment
  templates/config/.sops.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/dnsendpoint.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/secret.sops.yaml.j2
  templates/config/kubernetes/components/common/sops-age.sops.yaml.j2
  templates/scripts/plugin.py
Labels: area/templates

#1825 fix: move installation of crds to bootstrap script
  scripts/bootstrap-apps.sh
  templates/config/talos/patches/controller/cluster.yaml.j2
Labels: area/templates, area/scripts

#1826 chore: remove requirements.txt
  .github/workflows/e2e.yaml
  .mise.toml
  .renovaterc.json5
  .taskfiles/template/Taskfile.yaml
  README.md
  requirements.txt
  templates/scripts/plugin.py
Labels: area/github, area/taskfile, area/templates, area/docs, area/renovate

#1827 feat: remove global postbuild patch
  scripts/bootstrap-apps.sh
  templates/config/kubernetes/apps/cert-manager/cert-manager/ks.yaml.j2
  templates/config/kubernetes/apps/default/echo/ks.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-instance/ks.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/metrics-server/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/reloader/ks.yaml.j2
  templates/config/kubernetes/apps/kube-system/spegel/ks.yaml.j2
  templates/config/kubernetes/apps/network/external/external-dns/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/external/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/external/ks.yaml.j2
  templates/config/kubernetes/apps/network/internal/ks.yaml.j2
  templates/config/kubernetes/flux/cluster/ks.yaml.j2
Labels: area/templates, area/scripts

#1844 Add back read permission in flux-local workflow
  .github/workflows/flux-local.yaml
Labels: area/github
