Repository onedr0p/cluster-template, pull requests merged in 2025-02, with the labels that each got.

#1742 Add read permission for flux local diff workflow
  .github/workflows/flux-local.yaml
Labels: area/github

#1746 feat: remove openebs
  README.md
  templates/config/kubernetes/apps/openebs-system/kustomization.yaml.j2
  templates/config/kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml.j2
  templates/config/kubernetes/apps/openebs-system/openebs/app/kustomization.yaml.j2
  templates/config/kubernetes/apps/openebs-system/openebs/ks.yaml.j2
  templates/config/kubernetes/bootstrap/talos/patches/global/machine-kubelet.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/kustomization.yaml.j2
  templates/config/kubernetes/flux/meta/repositories/helm/openebs.yaml.j2
Labels: area/templates

#1748 feat: bootstrap all namespaces and secrets
  .taskfiles/bootstrap/Taskfile.yaml
  config.sample.yaml
  templates/config/kubernetes/bootstrap/apps/github-deploy-key.sops.yaml.j2
  templates/config/kubernetes/bootstrap/apps/helmfile.yaml.j2
Labels: area/taskfile, area/templates

#1754 fix: add validation for github repository name
  .mise.toml
  templates/config/kubernetes/bootstrap/apps/resources/github-deploy-key.sops.yaml.j2
  templates/scripts/validation.py
Labels: area/templates

#1757 feat: flatten existing components into common
  .taskfiles/bootstrap/Taskfile.yaml
  templates/config/kubernetes/apps/cert-manager/kustomization.yaml.j2
  templates/config/kubernetes/apps/default/kustomization.yaml.j2
  templates/config/kubernetes/apps/flux-system/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/kustomization.yaml.j2
  templates/config/kubernetes/apps/network/kustomization.yaml.j2
  templates/config/kubernetes/flux/components/common/cluster-secrets.sops.yaml.j2
  templates/config/kubernetes/flux/components/common/cluster-settings.yaml.j2
  templates/config/kubernetes/flux/components/common/kustomization.yaml.j2
  templates/config/kubernetes/flux/components/common/namespace.yaml.j2
  templates/config/kubernetes/flux/components/common/sops-age.sops.yaml.j2
  templates/config/kubernetes/flux/components/namespace/kustomization.yaml.j2
  templates/config/kubernetes/flux/components/sops/kustomization.yaml.j2
Labels: area/taskfile, area/templates

#1761 fix(helmfile): add some idempotence to hooks
  templates/config/kubernetes/bootstrap/apps/hooks/cilium-config.sh.j2
  templates/config/kubernetes/bootstrap/apps/hooks/prometheus-operator-crds.sh.j2
Labels: area/templates

#1763 feat(helmfile): put prepare logic in bash script
  .editorconfig
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  templates/config/kubernetes/bootstrap/apps/helmfile.yaml.j2
  templates/config/kubernetes/bootstrap/apps/hooks/bootstrap.sh.j2
  templates/config/kubernetes/bootstrap/apps/resources/prepare.sh.j2
Labels: area/taskfile, area/templates

#1783 fix: issue with GitHub deploy key
  .mise.toml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/template/Taskfile.yaml
  Taskfile.yaml
  scripts/bootstrap-apps.sh
  templates/config/.sops.yaml.j2
Labels: area/taskfile, area/templates, area/scripts

#1789 chore(cilium): update tolerations in Flux HR instead
  templates/config/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml.j2
Labels: area/templates

#1791 refactor: remove ability to disable cloudflare and refactor config.yaml
  .editorconfig
  .github/tests/cloudflare.yaml
  .github/tests/flux.yaml
  .github/tests/nodes.yaml
  .github/tests/private.yaml
  .github/tests/public.yaml
  .github/workflows/e2e.yaml
  .github/workflows/flux-local.yaml
  .gitignore
  .mise.toml
  .taskfiles/template/Taskfile.yaml
  .taskfiles/template/resources/cluster.schema.cue
  .taskfiles/template/resources/nodes.schema.cue
  README.md
  cluster.sample.yaml
  config.sample.yaml
  makejinja.toml
  nodes.sample.yaml
  requirements.txt
  templates/config/bootstrap/github-deploy-key.sops.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/.mjfilter.py
  templates/config/kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/ks.yaml.j2
  templates/config/kubernetes/apps/cert-manager/cert-manager/tls/.mjfilter.py
  templates/config/kubernetes/apps/cert-manager/cert-manager/tls/kustomization.yaml.j2
  templates/config/kubernetes/apps/default/.mjfilter.py
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github-webhook/ingress.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github-webhook/kustomization.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github-webhook/receiver.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github-webhook/secret.sops.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/github/kustomization.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/helm-values.yaml.j2
  templates/config/kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/kustomization.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/l2.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/l3.yaml.j2
  templates/config/kubernetes/apps/kube-system/cilium/config/pool.yaml.j2
  templates/config/kubernetes/apps/kube-system/coredns/app/helm-values.yaml.j2
  templates/config/kubernetes/apps/network/.mjfilter.py
  templates/config/kubernetes/apps/network/external/cloudflared/configs/config.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/dnsendpoint.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/external/cloudflared/secret.sops.yaml.j2
  templates/config/kubernetes/apps/network/external/external-dns/secret.sops.yaml.j2
  templates/config/kubernetes/apps/network/external/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/ingress-nginx/helmrelease.yaml.j2
  templates/config/kubernetes/apps/network/internal/k8s-gateway/helmrelease.yaml.j2
  templates/config/kubernetes/components/common/cluster-secrets.sops.yaml.j2
  templates/config/kubernetes/components/common/cluster-settings.yaml.j2
  templates/config/kubernetes/components/common/kustomization.yaml.j2
  templates/config/kubernetes/components/common/sops-age.sops.yaml.j2
  templates/config/kubernetes/flux/cluster/ks.yaml.j2
  templates/config/talos/patches/controller/cluster.yaml.j2
  templates/config/talos/patches/global/machine-kubelet.yaml.j2
  templates/config/talos/patches/global/machine-network.yaml.j2
  templates/config/talos/patches/global/machine-time.yaml.j2
  templates/config/talos/talconfig.yaml.j2
  templates/scripts/plugin.py
  templates/scripts/validation.py
Labels: area/github, area/taskfile, area/templates, area/docs

#1792 fix(readme): typo in link to cloudflare documentation
  README.md
Labels: area/docs

#1793 Use new variable name in README.md
  README.md
Labels: area/docs

#1794 Add back missing newline in github-deploy-key
  templates/config/bootstrap/github-deploy-key.sops.yaml.j2
Labels: area/templates
